version: '3'
# 定义四个服务nginx,php,mysql,redis
services:
  nginx:
    # 依赖php服务，意味着在启动nginx之前先启动php
    depends_on:
      - php
    # nginx镜像的路径
    image: thinksvip/lnmp:nginx
    # image: registry.cn-shenzhen.aliyuncs.com/thinks/lnmp:nginx
    # 这样使nginx容器把网站文件和目录存放到主机目录中，持久化和方便管理
    volumes:
      - "${VOLUMES_DRIVER}:/sock"
      - ${APP_CODE_PATH_HOST}:${APP_CODE_PATH_CONTAINER}
      - ${NGINX_HOST_CONF_PATH}conf.d/:/etc/nginx/conf.d/:ro,cached
      - ${NGINX_HOST_CONF_PATH}nginx.conf:/etc/nginx/nginx.conf:ro,cached
      - ${NGINX_HOST_LOG_PATH}:/var/log/nginx/:rw,cached
    environment:
      - TZ=${TIME_ZONE}
    # 映射80和443端口
    ports:
      - "${NGINX_HOST_HTTP_PORT}:80"
      - "${NGINX_HOST_HTTPS_PORT}:443"
    networks:
      frontend:
    # nginx意外退出时自动重启
    restart: always
    # 容器名称
    container_name: nginx

  #PHP  
  php:
    depends_on:
      - mysql
      - redis
    image: thinksvip/lnmp:php
    # image: registry.cn-shenzhen.aliyuncs.com/thinks/lnmp:php
    volumes:
      - "${VOLUMES_DRIVER}:/sock"
      - ${APP_CODE_PATH_HOST}:${APP_CODE_PATH_CONTAINER}
      - ${PHP_FRM_HOST_CONF_PATH}php.ini:/usr/local/etc/php/php.ini:ro,cached
      - ${PHP_FRM_HOST_CONF_PATH}php-fpm.d/www.conf:/usr/local/etc/php-fpm.d/www.conf:ro,cached
      - ${PHP_FRM_HOST_CONF_PATH}php-fpm.d/zz-docker.conf:/usr/local/etc/php-fpm.d/zz-docker.conf:ro,cached
      - ${PHP_FRM_HOST_LOG_PATH}:/var/log/php-fpm/:rw,cached
    environment:
      - TZ=${TIME_ZONE}
    ports:
      - "${PHP_FRM_PORT}:9000"
    extra_hosts:
      - "dockerhost:${DOCKER_HOST_IP}"
    networks:
      frontend:
      backend: 
    restart: always
    cap_add:
      - SYS_PTRACE
    container_name: php

  # MySQL
  mysql:
    image: thinksvip/lnmp:mysql
    # image: registry.cn-shenzhen.aliyuncs.com/thinks/lnmp:mysql
    volumes:
      - ${MYSQL_HOST_CONF_PATH}my${MYSQL_VERSION}.cnf:/etc/mysql/my.cnf:ro,cached
      - ${DATA_PATH_HOST}/mysql:/var/lib/mysql/:rw,cached
      - ${MYSQL_HOST_LOG_PATH}:/var/log/mysql/:rw,cached
    environment:
      - MYSQL_DATABASE=${MYSQL_DATABASE}
      - MYSQL_USER=${MYSQL_USER}
      - MYSQL_PASSWORD=${MYSQL_PASSWORD}
      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}
      - TZ=${TIME_ZONE}
    ports:
      - "${MYSQL_PORT}:3306"
    networks:
      backend:
    restart: always
    container_name: mysql

  # REDIS
  redis:
    image: thinksvip/lnmp:redis
    # image: registry.cn-shenzhen.aliyuncs.com/thinks/lnmp:redis
    volumes:
      - ${DATA_PATH_HOST}/redis:/data/:rw,cached
      - ${REDIS_HOST_CONF_PATH}:/usr/local/redis/redis.conf:ro,cached
      - ${REDIS_HOST_LOG_PATH}:/usr/local/redis/redis.log:rw,cached
    environment:
      - TZ=${TIME_ZONE}
    ports:
      - "${REDIS_PORT}:6379"
    networks:
      backend:        
    restart: always
    container_name: redis

  # NODE
  node:
    image: thinksvip/lnmp:node
    # image: registry.cn-shenzhen.aliyuncs.com/thinks/lnmp:node
    volumes:
      - ${NODE_PATH_HOST}:/app/laravel-echo-server.json:ro
    environment:
      - TZ=${TIME_ZONE}
    ports:
      - "${LARAVEL_ECHO_SERVER_PORT}:6001"
    links:
      - redis
      - nginx
    networks:
      frontend:
      backend: 
    restart: always
    container_name: node

#网络
networks:
  frontend:
  backend:

#sock容器
volumes:
  local:

