###########################################################
###################### General Setup ######################
###########################################################

### Paths #################################################

# Point to the path of your applications code on your host
APP_CODE_PATH_HOST=./www/

# Point to where the `APP_CODE_PATH_HOST` should be in the container. You may add flags to the path `:cached`, `:delegated`. When using Docker Sync add `:nocopy`
APP_CODE_PATH_CONTAINER=/var/www/html/:rw,cached

# Choose storage path on your machine. For all storage systems
DATA_PATH_HOST=./data/

### Drivers ################################################

# All volumes driver
VOLUMES_DRIVER=local

# All Networks driver
NETWORKS_DRIVER=bridge

### Docker Host IP ########################################

# Enter your Docker Host IP (will be appended to /etc/hosts). Default is `10.0.75.1`
DOCKER_HOST_IP=10.0.75.1

### TIME ZONE ############################################
TIME_ZONE=Asia/Shanghai

###########################################################
################ Containers Customization #################
###########################################################

### NGINX #################################################

NGINX_VERSION=alpine
NGINX_HOST_HTTP_PORT=80
NGINX_HOST_HTTPS_PORT=443
NGINX_HOST_LOG_PATH=./log/nginx/
NGINX_HOST_CONF_PATH=./conf/nginx/
NGINX_SITES_PATH=./nginx/sites/

### MYSQL #################################################

# MYSQL_VERSION 5.7 8.0
MYSQL_VERSION=8.0
# MYSQL_IMAGE_VERSION 57 80
MYSQL_IMAGE_VERSION=80
MYSQL_DATABASE=default
MYSQL_USER=default
MYSQL_PASSWORD=secret
MYSQL_PORT=3306
MYSQL_ROOT_PASSWORD=root
MYSQL_HOST_CONF_PATH=./conf/mysql/
MYSQL_HOST_LOG_PATH=./log/mysql/

### PHP ###############################################

# PHP_FPM_VERSION 5.4 5.6 7.2 7.3 7.4
PHP_FPM_VERSION=7.4
PHP_FRM_PORT=9000
PHP_FRM_HOST_LOG_PATH=./log/php/
PHP_FRM_HOST_CONF_PATH=./conf/php/php/

### PHP8 ###############################################

PHP8_FPM_VERSION=8.1
PHP8_FRM_PORT=9001
PHP8_FRM_HOST_LOG_PATH=./log/php8/
PHP8_FRM_HOST_CONF_PATH=./conf/php/php8/

### REDIS #################################################

REDIS_VERSION=latest
REDIS_PORT=6379
REDIS_HOST_CONF_PATH=./conf/redis/redis.conf
REDIS_HOST_LOG_PATH=./log/redis/

### NODE #################################################

NODE_VERSION=alpine
NODE_PATH_HOST=./node/laravel-echo-server/laravel-echo-server.json
LARAVEL_ECHO_SERVER_PORT=6001

### PHP_QUEUE #############################################

APP_CODE_PATH=
PHP_QUEUE_VERSION=7.4


### PHP_WORKER #############################################
SUPERVISOR_LOG=./log/supervisor
SUPERVISOR_CONF_FILE=./conf/php/worker/supervisord.conf
SUPERVISOR_HOST_PORT=9001
PHP_WORKER_VERSION=php-alpine